<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" type="image/x-icon" href="https://zenvia-static.s3.amazonaws.com/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" /> -->
    <link rel="stylesheet" href="https://uikit.zenvia.com/css/zenvia-ui-kit.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | absolute_url }}" />
</head>
<body>
  <div class="container">
    {% include navbar.ext %}
  </div>

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container is-fluid has-text-centered">
        <h1 class="title is-2 is-spaced">Documentação</h1>
        <h2 class="subtitle">Central de ajuda da Plataforma Zenvia Conversations Cloud</h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <!-- <a href="../.gitignore">&laquo; Voltar</a> -->
      {% if page.title != 'Índice' %}
      <a class="has-text-small" href="/docs">&laquo; Voltar</a>
      {% endif %}
      <h1 class="subtitle is-3">{{ page.title }}</h1>
      <div class="content mt-32">
        {{ content }}
      </div>
    </div>
  </section>

  <div class="mt-40">
    {% include footer.ext %}
  </div>
</body>
</html>
